html,
body {
  @apply flex w-full h-full;
}

/* custom button  */
.btn {
  display: inline-flex;
  padding: var(--Space-Padding-paddingXXS, 4px) var(--Space-Padding-padding, 16px);
  justify-content: center;
  align-items: center;
  border-radius: var(--Border-Radius-borderRadiusXXS, 4px);
  
  }
  .btn-primary {
  background: var(--Color-Brand-colorPrimary, #1677FF);
  }
  
  .btn-secondary {
  border-radius: var(--Border-Radius-borderRadiusXXS, 4px);
  border: 1px solid var(--Color-Border-colorBorder, #D9D9D9);
  background: var(--Color-Bg-colorBgContainer, #FFF);
  }
  
  .btn-danger-secondary {
  border-radius: var(--Border-Radius-borderRadiusXXS, 4px);
  border: 1px solid var(--Color-Border-colorErrorBorder, #FF4D4F);
  background: var(--Color-Bg-colorBgContainer, #FFF);
  }
